@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');
@import "tailwindcss";

*{
    font-family: "Anuphan", sans-serif;
}

.leaflet-container {
  z-index: 0 !important;
}

@theme {
    --color-primary: #2563EB;
    --color-primary-dull: #1F58D8;
    --color-light: #F1F5F9;
    --color-borderColor: #C4C7D2;
}

.leaflet-tooltip:before,
.leaflet-tooltip-arrow {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  border: none !important;
  background: none !important;
}
